Repository PowerShell/PowerShell, pull requests merged in 2018-05, with the labels that each got.

#6787 Disallow Basic Auth over HTTP on Unix
  src/System.Management.Automation/engine/remoting/fanin/WSManTransportManager.cs
  src/System.Management.Automation/resources/RemotingErrorIdStrings.resx
  test/powershell/engine/Remoting/RemoteSession.Basic.Tests.ps1
Labels: Area-Remoting, Area-Security, Documentation Needed

#6059 Remove 'more' function and move the $env:PAGER capability into the help function
  src/System.Management.Automation/engine/InitialSessionState.cs
  test/powershell/engine/Basic/DefaultCommands.Tests.ps1
  test/powershell/engine/Help/HelpSystem.Tests.ps1
Labels: Breaking-Change, Committee-Reviewed

#6769 Change packaging to support Ubuntu 17.10 and 18.04
  build.psm1
  tools/packaging/packaging.psm1
Labels: Area-Build

#6822 Blacklist System.Windows.Forms form loaded to prevent a crash
  src/System.Management.Automation/CoreCLR/CorePsAssemblyLoadContext.cs
  test/powershell/engine/Basic/Assembly.LoadFrom.Tests.ps1
  test/powershell/engine/Basic/Assembly.LoadWithPartialName.Tests.ps1
Labels: Area-Engine

#6806 Fix Web Cmdlets for .NET Core 2.1
  src/Microsoft.PowerShell.Commands.Utility/commands/utility/WebCmdlet/Common/WebRequestPSCmdlet.Common.cs
  test/powershell/Modules/Microsoft.PowerShell.Utility/WebCmdlets.Tests.ps1
Labels: Breaking-Change
